{% extends 'school/adminbase.html' %}



{% block content %}

<head>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>

</head>


<div class="container">

  <div class="row">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h6 class="panel-title">Attendance</h6>

      </div>

      <table class="table table-hover" id="dev-table">
        <thead>

          <tr>
            <th>Nume Clasa</th>
            <th>Participare la curs</th>
            <th>Vizualizare prezenta la curs</th>
          </tr>
        </thead>

        <tr>
          <td> 9A </td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'admin-take-attendance' 'one'  %}"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-attendance' 'one'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

        <tr>
          <td> 9B </td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'admin-take-attendance' 'two'  %}"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-attendance' 'two'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

        <tr>
          <td> 10A </td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'admin-take-attendance' 'three'  %}"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-attendance' 'three'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

        <tr>
          <td> 10B </td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'admin-take-attendance' 'four'  %}"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-attendance' 'four'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

        <tr>
          <td> 11A </td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'admin-take-attendance' 'five'  %}"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-attendance' 'five'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

        <tr>
          <td> 11B </td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'admin-take-attendance' 'six'  %}"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-attendance' 'six'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

        <tr>
          <td> 12A </td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'admin-take-attendance' 'seven'  %}"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-attendance' 'seven'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

        <tr>
          <td> 12B </td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'admin-take-attendance' 'eight'  %}"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-attendance' 'eight'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

        <tr>
          <td> 12C </td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'admin-take-attendance' 'nine'  %}"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-attendance' 'nine'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

        <tr>
          <td> 12D </td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'admin-take-attendance' 'ten'  %}"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-attendance' 'ten'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

      </table>
    </div>


  </div>
</div>


{% endblock content %}
