{% extends 'school/homebase.html' %}
{% block content %}
<br>
<br>
<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4">Buna ziua, dl. Administrator</h1>
  <p class="lead">Bine ați venit la sistemul de management școlar online.</p>
  <hr class="my-4">
  <p>Puteți accesa diferite funcții după Logare / Înregistrare.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="adminsignup" role="button">Inscrie-te</a>
    <a class="btn btn-primary btn-lg" href="adminlogin" role="button">Autentificare</a>
  </p>
</div>
{% endblock content %}
