{% extends 'school/homebase.html' %}
{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4">Buna ziua, dl. Elev</h1>
  <p class="lead">Bine ați venit la sistemul de management școlar.</p>
  <hr class="my-4">
  <p>Puteți accesa diferite funcții după autentificare.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="studentsignup" role="button">Inscriere</a>
    <a class="btn btn-primary btn-lg" href="studentlogin" role="button">Autentificare</a>
  </p>
</div>

{% endblock content %}
